* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100vh;
    background: #0b090a;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h2 {
    color: #fefae0;
    font-family: 'Raleway', sans-serif;
    font-size: 1.8rem;
    margin-bottom: 80px;
}

/* ========= Botão ========= */

.btn {
    width: 400px;
    height: 80px;
    color: #ffba08;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-size: 2rem;
    letter-spacing: .4rem;
    text-shadow: 0 0 4px #ffba08;
    border-radius: 8px;
    border: 2px solid #ffba08;
    box-shadow: 0 0 8px #ffba08, 0 0 24px #f09a19;
    cursor: pointer;
    position: relative;
}

.btn:hover {
    color: #fb5607;
    text-shadow: 0 0 4px #fb5607;
    border: 2px solid #fb5607;
    box-shadow: 0 0 8px #fb5607, 0 0 24px #fb4007;
    animation: shake 0.4s linear;
}

@keyframes shake {
    0% { transform: rotate(0); }

    25% { transform: rotate(10deg); }

    50% { transform: rotate(-10deg); }

    100% { transform: rotate(10deg); }
}
